.section.panel-default
  .panel-body
    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
          - @result.columns.each do |col|
            %th= col
        %tbody
          - @result.rows.each do |row|
            %tr
              - row.to_array.each do |field|
                %td= field
