.container
  %nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
    .col-lg-2
      %ul.nav.navbar-nav.navbar-left
        %li
          %a{:href => "/login"}
            = fa_icon "fa sign-in"
            登录
